<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="Portal 2" class="pl.ug.mbrzoskowski.lab4.domain.VideoGame">
        <property name="title" value="Portal 2"/>
        <property name="release.year" value="2012"/>
        <property name="platform" value="pl.ug.mbrzoskowski.lab4.domain.Platform.PC"/>
    </bean>
</beans>
