.A {
    position: absolute;
    background-color: lightblue;
    left: 30%;
    top: 40%;
    border: solid 5px blue;
    width: 20%;
    height: 20%;
    text-align: center;
}

.B {
    position: absolute;
    background-color: rgb(224, 141, 141);
    border: solid 5px red;
    left: 45%;
    width: 20%;
    height: 20%;
    top: 45%;
    text-align: center;
}