.container {
    display: flex;
    width: 40vw;
    height: 50vh;
    text-align: center;
    margin-left: 30vw;
    margin-right: 30vw;
}

.A {
    background-color: red;
    width: 25%;
    height: 100%;
}

.BC{
    width: 60%;
    height: 100%;
    .B {
        margin-top: -1em;
        background-color: beige;
        width: 100%;
        height: 50%;
    }
    .C {
        margin-top: -1em;
        background-color: aqua;
        width: 100%;
        height: 50%;
    }
}

.D {
    background-color: greenyellow;
    width: 25%;
    height: 100%;
}